/* body {
    background-image: url("./background-images/darkTree.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
} */

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.movie-card-list {
    background-color: #c6c6c6c6;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 150px;
    height: 250px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.movie-card-list:hover{
    border: 1px solid #3e3e3e;
    background-color: #ffffffe8;
}

.movie-card p {
    margin: 0;
    flex-grow: 1;
}

input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 14px 20px;
    width: 200px;
}

.card-btn{
    cursor: pointer;
    padding: 12px 10px;
    border: none;     
    border-radius: 4px;
    background-color: #635e5e;  
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.card-btn:hover{
    color: #ffffff;
    background-color: #1d5c2e;
}

.add-movie-btn {
    cursor: pointer;
    border-radius: 4px;
    background-color: #1d5c2e;
    color: white;
    font-size: 18px;
    padding: 12px  20px;
    font-weight: bold;
    margin-right: 80%;
    margin-top: 20px;
}
.add-movie-btn:hover{
    font-size: 20px;
    color: #1d5c2e;
    background-color: #ffffff;
}

.add-movie-btn-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   
}

